<!DOCTYPE html>
<html>
<head>
  <title>Gifti</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/animations.css">

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <i class="fa fa-gift"></i>
        <span class='logo-text'>Gifti</span>
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
       <li><a href="/#/gifts">View All Gifts</a></li>
       <li><a href="/#/create-gift">Create A Gift</a></li>
     </ul>
  </div>
</nav>