<!doctype html>
<% include partials/_header %>
<div class='container jumbotron'>
  <h1> Welcome to Gifti <i class="fa fa-user"></i></h1>
  <a href="/gifts">View gifts</a>
</div>
<div class="gifts"></div>
<% include partials/_end %>
