<div style="text-align: center;" id="success"></div>
<div class="row">
  <div class="col-md-6 col-md-offset-3 gift-form slideRight">
    <h3>Create a new gift!</h3>
    <form id="createGiftForm">
      <div class="form-group">
        <label for="name">Name: </label>
        <input id="name" class="form-control" placeholder="Enter gift name" type="text" name="name">
      </div>
      <div class="form-group">
        <label for="price">Price:</label>   
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input class="form-control" id="price" type="number" name="price">
          <div class="input-group-addon">.00</div>
        </div>
      </div>
      <div class="form-group">
        <label for="url">URL: </label>
        <input class="form-control" type="text" name="url" id="url">
      </div>
      <div class="form-group">
        <label for="imageUrl">Image URL: </label>
        <input class="form-control"  type="text" name="imageUrl" id="imageUrl">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>    
  </div>
</div>